module Anita
  module Config
    NICK     = "an_awesome_bot"
    PASSWORD = "a_sekret_password"
    SERVER   = "irc.freenode.net"
    CHANNELS = ["#cinch-bots"]
    DB_PATH  = File.expand_path(File.dirname(__FILE__) + "/../data/anita.db")
    DB       = "sqlite3://#{DB_PATH}"
  end
end
