Anita.configure do |c|
  c.nick     = "an_awesome_bot"
  c.password = "a_sekret_password"
  c.server   = "irc.freenode.net"
  c.channels = ["#cinch-bots"]

  path       = File.expand_path(File.dirname(__FILE__) + "/../data/anita.db")
  c.database = "sqlite3://#{path}"
end
