!!!
%html
  %head
    %title Transcript
  %body
    %h1= transcript.channel
    %table
      %thead
        %td Timestamp
        %td Nick
        %td Text
      - transcript.each do |message|
        %tr
          %td= message.humanized_timestamp
          %td= message.nick
          %td= message.text
